
<div align="center">
    <% if current_user.email == @group.admin %>
        <%= link_to "Manage", edit_group_path %>
    <% end %>
    <% if current_user.following?(@group) %>
        <p>Following</p>
    <% else %>
        <h2><%= @group.name %></h1>
        <small>Admin of the group: <%= @group.admin %></small>
        <p>You are not a member of this group</p>
        <%= link_to  "Subscribe", subscribe_groups_path(:group_id => @group.id) %>
    <% end %>

    <% @members.each do |x| %>
        <%= x %>
    <% end %>

    <hr></hr>

    <%= month_calendar do |date| %>
        <%= link_to date, posts_path(:date => date, :group_idd => @group.id) %>
    <% end %>
</div>

